.s-about {
  &__wrapper {
    width: 100%;
    padding-bottom: 96px;
    background: url("../images/about/about-logo.png") right 100px bottom 0px /
      480px no-repeat;

    @include media(lg) {
      background-size: 250px;
      background-position: right bottom;
    }

    @include media(sm) {
      padding-bottom: 308px;
      background-position: center bottom;
    }
  }

  &__info {
    max-width: 640px;
  }

  &__title {
    margin-bottom: 20px;

    @include media(md) {
      margin-bottom: 16px;
    }
  }

  &__desc {
    margin-bottom: 32px;

    @include media(md) {
      margin-bottom: 24px;
    }
  }

  &__text {
    @include media(sm) {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p {
      font-size: 16px;
      line-height: 1.25;

      + p {
        margin-top: 16px;
      }
    }

    span,
    a {
      color: var(--color-primary);
    }
  }

  &__read {
    display: none;

    @include media(sm) {
      display: block;
      margin-top: 4px;
      padding-bottom: 2px;
      border-bottom: 1px solid var(--color-border-light);
      color: var(--color-primary);
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.about {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    @include media(md) {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  &__img {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__info {
    &-title {
      margin-bottom: 12px;
    }

    &-text {
      margin-bottom: 24px;
    }
  }
}

.about-advantages {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 48px;
    gap: 20px;

    @include media(md)  {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    @media(max-width: 560px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 16px 24px;
    display: flex;
    align-items: flex-start;
    gap: 20px;

    @media(max-width: 560px)  {
      gap: 16px;
      padding: 12px 16px;
    }

    span {
      font-size: 18px;
      font-weight: 600;

      @media(max-width: 560px)  {
        font-size: 16px;
      }
    }

    img {
      display: block;
      --size: 44px;
      width: var(--size);
      height: var(--size);

      @media(max-width: 560px) {
        --size: 32px;
      }
    }
  }
}
