form.asside-form(action="")
  .asside-form__title Первичный осмотр, план лечения и консультация бесплатно
  .asside-form__desc Укажите свой номер телефона, мы перезвоним и подберём для вас удобное время приёма.
  .asside-form__controls 
    .form-group 
      label.form-label(for="")
      input.form-control(type="tel", name="" placeholder="+7 (999) 999-99-99") 
    button.asside-form__btn.btn.btn--l.btn--wide Записаться
  .asside-form__tel Остались вопросы?
    a.link(href="tel:+73512004123") +7 351 20-04-123 