footer.footer 
  .container.footer__container 
    .footer__main  
      .footer__company
        a.footer__logo(href="#")
          img(src="images/logo.svg", alt="") 
        a.footer__tel.link.link-primary(href="tel:+735120-04-123") +7 351 20-04-123
        a.footer__mail.link.link-primary(href="mailto:info@chelstorm.ru") info@chelstorm.ru
      .footer__license 
        span Лицензия
        | Л041-01024-74/00377010 <br> выдана 24.05.2012 г.
      nav.footer__nav 
        .footer__nav-section 
          .footer__nav-section-title Услуги
          .footer__nav-list 
            .footer__nav-col
              a.footer__nav-item.link(href="#") Терапия
              a.footer__nav-item.link(href="#") Протезирование
              a.footer__nav-item.link(href="#") Хирургия
              a.footer__nav-item.link(href="#") Имплантология
              a.footer__nav-item.link(href="#") Ортодонтия
              a.footer__nav-item.link(href="#") Пародонтология
              a.footer__nav-item.link(href="#") Гигиена
              a.footer__nav-item.link(href="#") Фторирование
            .footer__nav-col
              a.footer__nav-item.link(href="#") Лечение зубов у детей
              a.footer__nav-item.link(href="#") Профилактика
              a.footer__nav-item.link(href="#") Герметизация фиссур
              a.footer__nav-item.link(href="#") Исправление прикуса
              a.footer__nav-item.link(href="#") Сохранение места
              a.footer__nav-item.link(href="#") Детские коронки
        .footer__nav-section 
          .footer__nav-section-title О клинике
          .footer__nav-list 
            .footer__nav-col
              a.footer__nav-item.link(href="#") Клиники
              a.footer__nav-item.link(href="#") Карьера
              a.footer__nav-item.link(href="#") Контакты
              a.footer__nav-item.link(href="#") Врачи
              a.footer__nav-item.link(href="#") Лицензии
              a.footer__nav-item.link(href="#") Отзывы
              a.footer__nav-item.link(href="#") Акции
              a.footer__nav-item.link(href="#") Вопросы и ответы
            .footer__nav-col
              a.footer__nav-item.link(href="#") База знаний
              a.footer__nav-item.link(href="#") Законодательство
              a.footer__nav-item.link(href="#") Сохранение места
              a.footer__nav-item.link(href="#") Детские коронки
    .footer__bottom 
      .footer__organization 2013 — 2024 © Стоматологическая поликлиника №3
      a.footer__bottom-link.link(href="#") Политика конфиденциальности
      a.footer__bottom-link.link(href="#") Все документы
    
