extends includes/_layout

block content 
	main.page
		+breadcrumb(['Главная', 'Блог'], 'Компьютерная томография (КТ) зубов')
		.page-inner.section
			.container 
				.page-content
						.page-main
							.article 
								h1.h1.article__title Компьютерная томография (КТ) зубов
								h2.h2.article__subtitle Популярнейшая рентгеновская система с функцией 3D теперь в нашей клинике!
								p.article__desc Компьютерная томография (КТ) зубов – это современный, информативный, неинвазивный метод исследования строения зубов, положения их в челюсти, кровоснабжения тканей, выявления патологических изменений зубочелюстной системы,  лицевого отдела черепа и мягких тканей лица пациента. Изображения, полученные при помощи конусно-лучевого томографа, позволяют обследовать нижнюю и верхнюю челюсти, гайморовы и другие пазухи носа, полость носа, отдельные группы зубов.
								img.article__img(src="images/article.png", alt="")
								.article__nav 
									h2.h2.article__nav-title Содержание
									ol.article__nav-list 
										li Стоимость диагностики и лечения дисфункции ВНЧС
										li Что делать, если заклинило челюсть?
										li Симптомы
										li Диагностика у гнатолога
										li Методы лечения
										li Рекомендации врача
						.page-asside
							include components/_asside-form