extends includes/_layout

block content 
	main.page
		+breadcrumb(['Главная', 'Блог'], 'Компьютерная томография (КТ) зубов')
		.page-inner.section
			.container 
				.page-content
						.page-main
							.article 
								h1.h1.article__title Компьютерная томография (КТ) зубов
								h2.h2.article__subtitle Популярнейшая рентгеновская система с функцией 3D теперь в нашей клинике!
								p.article__desc Компьютерная томография (КТ) зубов – это современный, информативный, неинвазивный метод исследования строения зубов, положения их в челюсти, кровоснабжения тканей, выявления патологических изменений зубочелюстной системы,  лицевого отдела черепа и мягких тканей лица пациента. Изображения, полученные при помощи конусно-лучевого томографа, позволяют обследовать нижнюю и верхнюю челюсти, гайморовы и другие пазухи носа, полость носа, отдельные группы зубов.
								img.article__img(src="images/article.png", alt="")
								nav.article__nav 
									h2.h2.article__nav-title Содержание
									ol.article__nav-list 
										li 
											a(href="" class="link") Стоимость диагностики и лечения дисфункции ВНЧС
										li 
											a(href="" class="link") Что делать, если заклинило челюсть?
										li 
											a(href="" class="link") Симптомы
										li 
											a(href="" class="link") Диагностика у гнатолога
										li 
											a(href="" class="link") Методы лечения
										li 
											a(href="" class="link") Рекомендации врача
								.article-section
									h2.h3.article-section__title Стоимость диагностики и лечения дисфункции ВНЧС
									p.article-section__text Компьютерная томография (КТ) зубов – это современный, информативный, 
										| неинвазивный метод исследования строения зубов, положения их в челюсти, кровоснабжения 
										| тканей, выявления патологических изменений зубочелюстной системы,  лицевого отдела черепа 
										| и мягких тканей лица пациента. Изображения, полученные при помощи конусно-лучевого томографа, 
										| позволяют обследовать нижнюю и верхнюю челюсти, гайморовы и другие пазухи носа, полость 
										| носа, отдельные группы зубов.
									h3.h4.article-section__subtitle Уточнение 1
									ol.article-section__list 
										li Настоящая политика обработки персональных данных составлена 
											| в соответствии с требованиями Федерального закона от 27.07.2006. 
										li Блокирование персональных данных — временное прекращение 
											| обработки персональных данных (за исключением случаев, если обработка 
											| необходима для уточнения персональных данных);
										li Информационная система персональных данных — совокупность 
											| содержащихся в базах данных персональных данных, и обеспечивающих 
											| их обработку информационных технологий и технических средств;
									h3.h4.article-section__subtitle Уточнение 2
									ul.common-list.article-section__list 
										li Настоящая политика обработки персональных данных составлена 
											| в соответствии с требованиями Федерального закона от 27.07.2006. 
										li Блокирование персональных данных — временное прекращение 
											| обработки персональных данных (за исключением случаев, если обработка 
											| необходима для уточнения персональных данных);
										li Информационная система персональных данных — совокупность 
											| содержащихся в базах данных персональных данных, и обеспечивающих 
											| их обработку информационных технологий и технических средств;
								.article-section 
									h2.h3.article-section__title Что делать, если заклинило челюсть?
									p.article-section__text Компьютерная томография (КТ) зубов – это современный, 
										| информативный, неинвазивный метод исследования строения зубов, положения 
										| их в челюсти, кровоснабжения тканей, выявления патологических изменений 
										| зубочелюстной системы,  лицевого отдела черепа.
									figure.article-section__img 
										img(src="images/service-img-01.png", alt="")
										figcaption Как проходит лечение под микроскопом
									p.article-section__text Компьютерная томография (КТ) зубов – 
										| это современный, информативный, неинвазивный метод исследования 
										| строения зубов, положения их в челюсти, кровоснабжения тканей, 
										| выявления патологических изменений зубочелюстной системы, 
										|  лицевого отдела черепа.
									.article-section__advice 
										.article-section__advice-text Применение Leica M 320 Hi-End позволяет нашим 
											| врачам осуществлять точную диагностику, сократить количество необходимых 
											| рентгеновских снимков и исключить вероятность досадной врачебной ошибки. 
											| Современная оптика поможет спасти даже самый безнадёжный зуб, который 
											| не взялись лечить в другой клинике.
										.article-section__advice-doctor Анна Воронина, Главврач
									h3.h4.article-section__subtitle Уточнение 1
									ul.common-list.article-section__list 
										li Настоящая политика обработки персональных данных составлена 
											| в соответствии с требованиями Федерального закона от 27.07.2006. 
										li Блокирование персональных данных — временное прекращение 
											| обработки персональных данных (за исключением случаев, если обработка 
											| необходима для уточнения персональных данных);
										li Информационная система персональных данных — совокупность 
											| содержащихся в базах данных персональных данных, и обеспечивающих 
											| их обработку информационных технологий и технических средств;
						.page-asside
							include components/_asside-form