extends includes/_layout

block content 
  main.page
    +breadcrumb(['Главная','Врачи',], 'Кальсина Юлия Анатольевна')
    .doctor
      .doctor-main.section
        .container 
          .doctor-main__info 
            .doctor-main__title.h1 Кальсина Юлия Анатольевна
            .doctor-main__post заведующая ЛЕЧЕБНЫМ отделением
            .doctor-main__type Врач-стоматолог - терапевт
            button(type="button").doctor-main__btn.btn.btn--outline.btn--l Записаться к Юлии Анатольевне
            .doctor-main__address 
              +svgSprite(20, 20, 'pin')
              span Принимает в клинике на 
                a(href="#" class="link") Котина, 26 
          .doctor-main__photo 
            img(src="images/doctor.png", alt="") 
      .doctor-about.section 
        .container 
          .doctor-about__title.h2 О враче
          .doctor-about__subtitle.h3 Высшее образование
          .doctor-about__section
            ul.doctor-about__list
              li Диплом выдан Челябинской государственной медицинской академией Росздрава в 2006г. по специальности «Стоматология»
              li Диплом о профессиональной переподготовке выдан Челябинской государственной медицинской академией Минздрава России в 2012г по специальности «Стоматология терапевтическая».
              li Диплом о профессиональной переподготовке выдан ООО "Учебно-информационный центр ВКС" в 2020 г. по специальности "Организация здравоохранения и общественное здоровье".
          .doctor-about__section
            .doctor-about__subtitle.h3 Курсы повышения квалификации
            ul.doctor-about__list  
              li Свидетельство об аккредитации специалиста по специальности «Организация здравоохранения и общественное здоровье», срок действия до 17.03.2027
              li Сертификат по специальности «Стоматология терапевтическая», срок действия  до 29.12.2025 г.
              li Сертификат «Тенденции развития современной реставрационной стоматологии» - 2007г.
              li Сертификат «Восстановление зубов после эндодонтического лечения» - 2010г
              li Сертификат «Никель – титановые инструменты пятого поколения. Прикладная эндодонтия. Искусство в деталях» - 2012г.
              li Сертификат "Никель - титановые инструменты пятого поколения. Прикладная эндодонтия. Искусство в деталях" - 2015г.
              li Сертификат «Современный взгляд на реабилитацию зубов после эндодонтического лечения»  - 2017г.
              li Сертификат " Современные материалы и технологии 3M ESPE в терапевтической стоматологии. особенности работы материалами Filtek Ultimate? Filtek Z550 и Filtek Fill Posterior" - 2017г.
              li Сертификат "Современные решения в стоматологии. Объемное восстановление одной порцией жевательной группы зубов" - 2019г.
              li Сертификат " Эстетико-функциональные реставрации фронтальных и жевательных зубов. Инъекционная методика восстановления." - 2019г.
              li Сертификат "16 шагов идеальной post-эндодонтии. Ортопедический протокол для терапевтов." - 2021г.
              li Сертификат " Неотложные состояния: профилактика и лечение, как избежать ошибок. Безопасная анестезия в стоматологии." - 2023г.
      +feedback('feedback-doctor', 'feedback--secondary feedback--bg-white')
      include components/_other-team