extends includes/_layout

block content 
  main.page
    +breadcrumb(['Главная'],'Врачи')
    .doctors.section 
        .container 
            h1.page__title.h1 Врачи
            .doctors__nav.tab-controls 
                button(type="button").doctor-nav__item.tab-control Все
                button(type="button").doctor-nav__item.tab-control Детское отделение (ул. Салютная, 26)
                button(type="button").doctor-nav__item.tab-control Лечебное отделение (ул. Салютная, 26)
                button(type="button").doctor-nav__item.tab-control Лечебное отделение (пр. Ленина, 3)
                button(type="button").doctor-nav__item.tab-control Ортопедическое отделение (ул. Котина, 26)
                button(type="button").doctor-nav__item.tab-control Зуботехническая лаб-я (ул.Котина,26)
            .doctors-section 
                .doctors-section__title.h2 Детское отделение (ул. Салютная, 26)
                .doctors-section__list 
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-01.jpg", alt="") 
                        a.team-item__name.link(href="#") Есечкина Альбина Маратовна
                        .team-item__post заведующая детским отделением
                        .team-item__type Врач стоматолог детский второй квалификационной категории
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-02.jpg", alt="") 
                        a.team-item__name.link(href="#") Павпертова Эльза Эльдаровна
                        .team-item__type Врач-стоматолог-терапевт
            .doctors-section 
                .doctors-section__title.h2 Лечебное отделение (ул. Салютная, 26)
                .doctors-section__list 
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-01.jpg", alt="") 
                        a.team-item__name.link(href="#") Есечкина Альбина Маратовна
                        .team-item__post заведующая детским отделением
                        .team-item__type Врач стоматолог детский второй квалификационной категории
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-02.jpg", alt="") 
                        a.team-item__name.link(href="#") Павпертова Эльза Эльдаровна
                        .team-item__type Врач-стоматолог-терапевт
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-04.jpg", alt="") 
                        a.team-item__name.link(href="#") Есечкина Альбина Маратовна
                        .team-item__post заведующая детским отделением
                        .team-item__type Врач стоматолог детский второй квалификационной категории
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-05.jpg", alt="") 
                        a.team-item__name.link(href="#") Павпертова Эльза Эльдаровна
                        .team-item__type Врач-стоматолог-терапевт
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-06.jpg", alt="") 
                        a.team-item__name.link(href="#") Есечкина Альбина Маратовна
                        .team-item__post заведующая детским отделением
                        .team-item__type Врач стоматолог детский второй квалификационной категории
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-07.jpg", alt="") 
                        a.team-item__name.link(href="#") Павпертова Эльза Эльдаровна
                        .team-item__type Врач-стоматолог-терапевт
            .doctors-section 
                .doctors-section__title.h2 Лечебное отделение (пр. Ленина, 3)
                .doctors-section__list 
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-01.jpg", alt="") 
                        a.team-item__name.link(href="#") Есечкина Альбина Маратовна
                        .team-item__post заведующая детским отделением
                        .team-item__type Врач стоматолог детский второй квалификационной категории
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-02.jpg", alt="") 
                        a.team-item__name.link(href="#") Павпертова Эльза Эльдаровна
                        .team-item__type Врач-стоматолог-терапевт
            .doctors-section 
                .doctors-section__title.h2 Ортопедическое отделение (ул. Котина, 26)
                .doctors-section__list 
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-01.jpg", alt="") 
                        a.team-item__name.link(href="#") Есечкина Альбина Маратовна
                        .team-item__post заведующая детским отделением
                        .team-item__type Врач стоматолог детский второй квалификационной категории
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-02.jpg", alt="") 
                        a.team-item__name.link(href="#") Павпертова Эльза Эльдаровна
                        .team-item__type Врач-стоматолог-терапевт
            .doctors-section 
                .doctors-section__title.h2 Зуботехническая лаб-я (ул.Котина,26)
                .doctors-section__list 
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-01.jpg", alt="") 
                        a.team-item__name.link(href="#") Есечкина Альбина Маратовна
                        .team-item__post заведующая детским отделением
                        .team-item__type Врач стоматолог детский второй квалификационной категории
                    .team-item 
                        a.team-item__img(href="#")
                            img(src="images/team/team-02.jpg", alt="") 
                        a.team-item__name.link(href="#") Павпертова Эльза Эльдаровна
                        .team-item__type Врач-стоматолог-терапевт
    +feedback('feedback-doctor', 'feedback--secondary')