extends includes/_layout

block content 
  main.page
    +breadcrumb(['Главная'], 'Вопросы и ответы')
    .page-inner.section
        .container 
            h1.page__title.h1 Вопросы и ответы
            .page-content
                .page-main 
                    .faq
                        .faq__list 
                            .js-accordeon.faq-item.is-open 
                                .js-accordeon-btn.faq-item__head 
                                    span 1. Общие вопросы
                                    +svgSprite(20, 20, 'arrow-down')
                                .faq-item__content 
                                    .faq-item__question Какие последствия может повлечь потеря зуба? Обязательно ли нужно ставить протез на место отсутствующего зуба?
                                    .faq-item__answer 
                                        .faq-item__answer-top Какие последствия может повлечь потеря зуба? Обязательно ли нужно ставить протез на место отсутствующего зуба?
                                        .faq-item__answer-text 
                                            | Потеря даже одного зуба способна достаточно 
                                            | быстро привести к появлению множества проблем. Одно из самых 
                                            | распространённых последствий – смещение положения соседних зубов, 
                                            | способное привести к деформации всего зубного ряда (особенно остро 
                                            | такая проблема стоит в том случае, если пациент страдает повышенной 
                                            | подвижностью зубов, периодонтитом или парадонтозом). В некоторых 
                                            | случаях потеря зуба и сознательный отказ от протезирования может 
                                            | привести к появлению так называемых трем (неэстетичных щелей) 
                                            | даже между здоровыми зубами.
                                    .faq-item__question Реально ли отбелить зубы надолго и со 100% результатом?
                                    .faq-item__answer 
                                        .faq-item__answer-top Реально ли отбелить зубы надолго и со 100% результатом?
                                        .faq-item__answer-text 
                                            | Профессиональная гигиена полости рта – единственная альтернатива всем 
                                            | домашним методам отбеливания зубов, в большинстве случаев не дающим особых 
                                            | результатов и приводящим к повреждениям эмали. Один из лучших способов 
                                            | гарантированного отбеливания зубной эмали на 8-10 тонов – уникальная технология 
                                            | Opalescence Boost. При этом такое химическое отбеливание возможно как в условиях 
                                            | клиники (обычно требуется всего один сеанс), так и дома посредством ношения 
                                            | специальных кап, изготавливаемых индивидуально для каждого пациента.
                                    .faq-item__answer 
                                        .faq-item__answer-text 
                                            | Независимо от выбранной технологии, цены на которые существенно различаются, 
                                            | профессиональное отбеливание зубов обязательно проводится под контролем врача 
                                            | стоматолога-гигиениста. При правильном уходе за зубами эффект процедуры 
                                            | Opalescence Boost может сохраняться до 5-7 лет.
                            .js-accordeon.faq-item 
                                .js-accordeon-btn.faq-item__head 
                                    span 2. Вопросы связанные с врачами
                                    +svgSprite(20, 20, 'arrow-down')
                                .faq-item__content 
                                    .faq-item__question Какие последствия может повлечь потеря зуба? Обязательно ли нужно ставить протез на место отсутствующего зуба?
                                    .faq-item__answer 
                                        .faq-item__answer-top Какие последствия может повлечь потеря зуба? Обязательно ли нужно ставить протез на место отсутствующего зуба?
                                        .faq-item__answer-text 
                                            | Потеря даже одного зуба способна достаточно 
                                            | быстро привести к появлению множества проблем. Одно из самых 
                                            | распространённых последствий – смещение положения соседних зубов, 
                                            | способное привести к деформации всего зубного ряда (особенно остро 
                                            | такая проблема стоит в том случае, если пациент страдает повышенной 
                                            | подвижностью зубов, периодонтитом или парадонтозом). В некоторых 
                                            | случаях потеря зуба и сознательный отказ от протезирования может 
                                            | привести к появлению так называемых трем (неэстетичных щелей) 
                                            | даже между здоровыми зубами.
                                    .faq-item__question Реально ли отбелить зубы надолго и со 100% результатом?
                                    .faq-item__answer 
                                        .faq-item__answer-top Реально ли отбелить зубы надолго и со 100% результатом?
                                        .faq-item__answer-text 
                                            | Профессиональная гигиена полости рта – единственная альтернатива всем 
                                            | домашним методам отбеливания зубов, в большинстве случаев не дающим особых 
                                            | результатов и приводящим к повреждениям эмали. Один из лучших способов 
                                            | гарантированного отбеливания зубной эмали на 8-10 тонов – уникальная технология 
                                            | Opalescence Boost. При этом такое химическое отбеливание возможно как в условиях 
                                            | клиники (обычно требуется всего один сеанс), так и дома посредством ношения 
                                            | специальных кап, изготавливаемых индивидуально для каждого пациента.
                                    .faq-item__answer 
                                        .faq-item__answer-text 
                                            | Независимо от выбранной технологии, цены на которые существенно различаются, 
                                            | профессиональное отбеливание зубов обязательно проводится под контролем врача 
                                            | стоматолога-гигиениста. При правильном уходе за зубами эффект процедуры 
                                            | Opalescence Boost может сохраняться до 5-7 лет.
                            .js-accordeon.faq-item
                                .js-accordeon-btn.faq-item__head 
                                    span 3. Вопросы связанные с врачами
                                    +svgSprite(20, 20, 'arrow-down')
                                .faq-item__content 
                                    .faq-item__question Какие последствия может повлечь потеря зуба? Обязательно ли нужно ставить протез на место отсутствующего зуба?
                                    .faq-item__answer 
                                        .faq-item__answer-top Какие последствия может повлечь потеря зуба? Обязательно ли нужно ставить протез на место отсутствующего зуба?
                                        .faq-item__answer-text 
                                            | Потеря даже одного зуба способна достаточно 
                                            | быстро привести к появлению множества проблем. Одно из самых 
                                            | распространённых последствий – смещение положения соседних зубов, 
                                            | способное привести к деформации всего зубного ряда (особенно остро 
                                            | такая проблема стоит в том случае, если пациент страдает повышенной 
                                            | подвижностью зубов, периодонтитом или парадонтозом). В некоторых 
                                            | случаях потеря зуба и сознательный отказ от протезирования может 
                                            | привести к появлению так называемых трем (неэстетичных щелей) 
                                            | даже между здоровыми зубами.
                                    .faq-item__question Реально ли отбелить зубы надолго и со 100% результатом?
                                    .faq-item__answer 
                                        .faq-item__answer-top Реально ли отбелить зубы надолго и со 100% результатом?
                                        .faq-item__answer-text 
                                            | Профессиональная гигиена полости рта – единственная альтернатива всем 
                                            | домашним методам отбеливания зубов, в большинстве случаев не дающим особых 
                                            | результатов и приводящим к повреждениям эмали. Один из лучших способов 
                                            | гарантированного отбеливания зубной эмали на 8-10 тонов – уникальная технология 
                                            | Opalescence Boost. При этом такое химическое отбеливание возможно как в условиях 
                                            | клиники (обычно требуется всего один сеанс), так и дома посредством ношения 
                                            | специальных кап, изготавливаемых индивидуально для каждого пациента.
                                    .faq-item__answer 
                                        .faq-item__answer-text 
                                            | Независимо от выбранной технологии, цены на которые существенно различаются, 
                                            | профессиональное отбеливание зубов обязательно проводится под контролем врача 
                                            | стоматолога-гигиениста. При правильном уходе за зубами эффект процедуры 
                                            | Opalescence Boost может сохраняться до 5-7 лет.
                            .js-accordeon.faq-item
                                .js-accordeon-btn.faq-item__head 
                                    span 3. Вопросы связанные с врачами
                                    +svgSprite(20, 20, 'arrow-down')
                                .faq-item__content 
                                    .faq-item__question Какие последствия может повлечь потеря зуба? Обязательно ли нужно ставить протез на место отсутствующего зуба?
                                    .faq-item__answer 
                                        .faq-item__answer-top Какие последствия может повлечь потеря зуба? Обязательно ли нужно ставить протез на место отсутствующего зуба?
                                        .faq-item__answer-text 
                                            | Потеря даже одного зуба способна достаточно 
                                            | быстро привести к появлению множества проблем. Одно из самых 
                                            | распространённых последствий – смещение положения соседних зубов, 
                                            | способное привести к деформации всего зубного ряда (особенно остро 
                                            | такая проблема стоит в том случае, если пациент страдает повышенной 
                                            | подвижностью зубов, периодонтитом или парадонтозом). В некоторых 
                                            | случаях потеря зуба и сознательный отказ от протезирования может 
                                            | привести к появлению так называемых трем (неэстетичных щелей) 
                                            | даже между здоровыми зубами.
                                    .faq-item__question Реально ли отбелить зубы надолго и со 100% результатом?
                                    .faq-item__answer 
                                        .faq-item__answer-top Реально ли отбелить зубы надолго и со 100% результатом?
                                        .faq-item__answer-text 
                                            | Профессиональная гигиена полости рта – единственная альтернатива всем 
                                            | домашним методам отбеливания зубов, в большинстве случаев не дающим особых 
                                            | результатов и приводящим к повреждениям эмали. Один из лучших способов 
                                            | гарантированного отбеливания зубной эмали на 8-10 тонов – уникальная технология 
                                            | Opalescence Boost. При этом такое химическое отбеливание возможно как в условиях 
                                            | клиники (обычно требуется всего один сеанс), так и дома посредством ношения 
                                            | специальных кап, изготавливаемых индивидуально для каждого пациента.
                                    .faq-item__answer 
                                        .faq-item__answer-text 
                                            | Независимо от выбранной технологии, цены на которые существенно различаются, 
                                            | профессиональное отбеливание зубов обязательно проводится под контролем врача 
                                            | стоматолога-гигиениста. При правильном уходе за зубами эффект процедуры 
                                            | Opalescence Boost может сохраняться до 5-7 лет.
                            .js-accordeon.faq-item
                                .js-accordeon-btn.faq-item__head 
                                    span 3. Вопросы связанные с врачами
                                    +svgSprite(20, 20, 'arrow-down')
                                .faq-item__content 
                                    .faq-item__question Какие последствия может повлечь потеря зуба? Обязательно ли нужно ставить протез на место отсутствующего зуба?
                                    .faq-item__answer 
                                        .faq-item__answer-top Какие последствия может повлечь потеря зуба? Обязательно ли нужно ставить протез на место отсутствующего зуба?
                                        .faq-item__answer-text 
                                            | Потеря даже одного зуба способна достаточно 
                                            | быстро привести к появлению множества проблем. Одно из самых 
                                            | распространённых последствий – смещение положения соседних зубов, 
                                            | способное привести к деформации всего зубного ряда (особенно остро 
                                            | такая проблема стоит в том случае, если пациент страдает повышенной 
                                            | подвижностью зубов, периодонтитом или парадонтозом). В некоторых 
                                            | случаях потеря зуба и сознательный отказ от протезирования может 
                                            | привести к появлению так называемых трем (неэстетичных щелей) 
                                            | даже между здоровыми зубами.
                                    .faq-item__question Реально ли отбелить зубы надолго и со 100% результатом?
                                    .faq-item__answer 
                                        .faq-item__answer-top Реально ли отбелить зубы надолго и со 100% результатом?
                                        .faq-item__answer-text 
                                            | Профессиональная гигиена полости рта – единственная альтернатива всем 
                                            | домашним методам отбеливания зубов, в большинстве случаев не дающим особых 
                                            | результатов и приводящим к повреждениям эмали. Один из лучших способов 
                                            | гарантированного отбеливания зубной эмали на 8-10 тонов – уникальная технология 
                                            | Opalescence Boost. При этом такое химическое отбеливание возможно как в условиях 
                                            | клиники (обычно требуется всего один сеанс), так и дома посредством ношения 
                                            | специальных кап, изготавливаемых индивидуально для каждого пациента.
                                    .faq-item__answer 
                                        .faq-item__answer-text 
                                            | Независимо от выбранной технологии, цены на которые существенно различаются, 
                                            | профессиональное отбеливание зубов обязательно проводится под контролем врача 
                                            | стоматолога-гигиениста. При правильном уходе за зубами эффект процедуры 
                                            | Opalescence Boost может сохраняться до 5-7 лет.
                .page-asside
                    include components/_asside-form