doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/swiper.min.css")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body
    include mixins/_mixins
    include components/_header
    main
      section(style="padding: 24px 0")
        .container 
          ul 
            li(style="margin-bottom: 8px")
              a(href="main.html") Главная
            li(style="margin-bottom: 8px") 
              a(href="services.html") Услуги
            //- li(style="margin-bottom: 8px") 
            //-   a(href="blog.html") Блог
            //- li(style="margin-bottom: 8px") 
            //-   a(href="article.html") Статья
            //- li(style="margin-bottom: 8px") 
            //-   a(href="doctors.html") Список врачей
            li(style="margin-bottom: 8px") 
              a(href="doctor.html") Карточка врача
            li(style="margin-bottom: 8px") 
              a(href="documents.html") Документы
            li(style="margin-bottom: 8px") 
              a(href="law.html") Законодательство
    include components/_footer
    include includes/scripts