extends includes/_layout

block content 
	main.page
		+breadcrumb(['Главная'], 'Цены')
		.page-inner.section
			.container 
					h1.page__title.h1 Цены
					.page-content(data-filters)
						.page-main 
							.price 
								.price__info 
									p Подготовили подробный прайс-лист. Тут не дешевле, чем везде, но в среднем цены — на 32% ниже цен на стоматологические услуги в Москве.
									p Для этого мы арендовали недорогие помещения, открыли свою лабораторию, используем проверенные материалы недорогих брендов, работаем без офиса.
									p Так мы можем содержать команду опытных узконаправленных специалистов, поддерживать комфорт и современное оборудование. И ещё кое-что:
									ul.common-list 
										li Рассрочка до двух лет без процентов;
										li Платить можно поэтапно;
										li Составляем несколько планов лечения по вашему бюджету.
								.price__nav
									.price__tabs.tab-controls
										.price-nav__item.tab-control(data-filter-control="all") Все вместе
										.price-nav__item.tab-control(data-filter-control="adult") Взрослое отделение
										.price-nav__item.tab-control(data-filter-control="kids") Детская стоматология
									.price-categories 
										a(href="#section-1").price-categories__item.link.link--dashed.is-open(data-filter-panel="adult") Общие мероприятия
										a(href="#section-1").price-categories__item.link.link--dashed.is-open(data-filter-panel="adult") Диагностика
										a(href="#section-2").price-categories__item.link.link--dashed.is-open(data-filter-panel="kids") Профилактика
										a(href="#section-1").price-categories__item.link.link--dashed.is-open(data-filter-panel="adult") Хирургия
										a(href="#section-2").price-categories__item.link.link--dashed.is-open(data-filter-panel="kids") Диагностика
										a(href="#section-1").price-categories__item.link.link--dashed.is-open(data-filter-panel="adult") Ортопедия
										a(href="#section-2").price-categories__item.link.link--dashed.is-open(data-filter-panel="kids") Ортодонтия
										a(href="#section-1").price-categories__item.link.link--dashed.is-open(data-filter-panel="adult") Общие мероприятия
										a(href="#section-2").price-categories__item.link.link--dashed.is-open(data-filter-panel="kids") Диагностика
										a(href="#section-2").price-categories__item.link.link--dashed.is-open(data-filter-panel="kids") Профилактика
										a(href="#section-2").price-categories__item.link.link--dashed.is-open(data-filter-panel="kids") Хирургия
										a(href="#section-1").price-categories__item.link.link--dashed.is-open(data-filter-panel="adult") Диагностика
								.price__list
									.price-section(id="section-1") 
										.price-section__head Профессиональная гигиена
										.price-section__body 
											.price-section__table 
											.price-section__table-row.price-section__table-head 
												.price-section__table-cell Наименнование услуги
												.price-section__table-cell Наша цена
												.price-section__table-cell Средняя цена  в Челябинске
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Чистка зубов от камня
												.price-section__table-cell.price-section__table-cell-current 4 500₽
												.price-section__table-cell.price-section__table-cell-all 4 500₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Фторирование зубов
												.price-section__table-cell.price-section__table-cell-current 200₽
												.price-section__table-cell.price-section__table-cell-all 200₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Реминерализация зубов
												.price-section__table-cell.price-section__table-cell-current 700₽
												.price-section__table-cell.price-section__table-cell-all 800₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Ультразвуковая чистка зубов
												.price-section__table-cell.price-section__table-cell-current 4 500₽
												.price-section__table-cell.price-section__table-cell-all 5 800₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Ультразвуковая чистка зубов
												.price-section__table-cell.price-section__table-cell-current 4 500₽
												.price-section__table-cell.price-section__table-cell-all 5 800₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Профессиональная чистка зубов ClinPro
													.price-section__table-desc Удаление твердых отложений ультразвуком, чистка порошком clinpro, полировка пастами, покрытие защитным лаком
												.price-section__table-cell.price-section__table-cell-current 7 500₽
												.price-section__table-cell.price-section__table-cell-all 10 000₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name.price-section__table-name--b Ультразвуковое удаление зубных отложений в области импланта
												.price-section__table-cell.price-section__table-cell-current 700₽
												.price-section__table-cell.price-section__table-cell-all 900₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Профессиональная чистка Air Flow
													.price-section__table-desc Ультразвук, Air-flow, полировка зубов пастами
												.price-section__table-cell.price-section__table-cell-current 4 500₽
												.price-section__table-cell.price-section__table-cell-all 5 800₽
									.price-section(id="section-2") 
										.price-section__head Профессиональная гигиена
										.price-section__body 
											.price-section__table 
											.price-section__table-row.price-section__table-head 
												.price-section__table-cell Наименнование услуги
												.price-section__table-cell Наша цена
												.price-section__table-cell Средняя цена  в Челябинске
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Чистка зубов от камня
												.price-section__table-cell.price-section__table-cell-current 4 500₽
												.price-section__table-cell.price-section__table-cell-all 4 500₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Фторирование зубов
												.price-section__table-cell.price-section__table-cell-current 200₽
												.price-section__table-cell.price-section__table-cell-all 200₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Реминерализация зубов
												.price-section__table-cell.price-section__table-cell-current 700₽
												.price-section__table-cell.price-section__table-cell-all 800₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Ультразвуковая чистка зубов
												.price-section__table-cell.price-section__table-cell-current 4 500₽
												.price-section__table-cell.price-section__table-cell-all 5 800₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Ультразвуковая чистка зубов
												.price-section__table-cell.price-section__table-cell-current 4 500₽
												.price-section__table-cell.price-section__table-cell-all 5 800₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Профессиональная чистка зубов ClinPro
													.price-section__table-desc Удаление твердых отложений ультразвуком, чистка порошком clinpro, полировка пастами, покрытие защитным лаком
												.price-section__table-cell.price-section__table-cell-current 7 500₽
												.price-section__table-cell.price-section__table-cell-all 10 000₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name.price-section__table-name--b Ультразвуковое удаление зубных отложений в области импланта
												.price-section__table-cell.price-section__table-cell-current 700₽
												.price-section__table-cell.price-section__table-cell-all 900₽
											.price-section__table-row 
												.price-section__table-cell
													.price-section__table-name Профессиональная чистка Air Flow
													.price-section__table-desc Ультразвук, Air-flow, полировка зубов пастами
												.price-section__table-cell.price-section__table-cell-current 4 500₽
												.price-section__table-cell.price-section__table-cell-all 5 800₽
						.page-asside
							include components/_asside-form
		+feedback('feedback-doctor', 'feedback--secondary')