-
  var benefits = [
    {
      id: 1,
      title: 'Имплантация Osstem',
      title_detail: 'от 190000 ₽',
      btn: 'Узнать подробнее'
    },
    {
      id: 2,
      title: 'Первая консультация',
      title_detail: 'бесплатная',
      btn: 'Записаться'
    },
    {
      id: 3,
      title: 'Гигиена полости рта',
      title_detail: 'всего 5250 ₽',
      btn: 'Записаться'
    },
  ]

section.benefits.section 
  .container 
    .benefits__list.js-benefits-slider 
      .swiper-wrapper
        for item in benefits
          .benefits__item.swiper-slide 
            .benefits__item-img
              img(src=`images/benefits/benefits-0${item.id}.png`, alt="")
            .benefits__item-title= item.title
              span= item.title_detail
            .benefits__item-btn.btn.btn--outline= item.btn