section.hero 
  .container 
    .hero__wrapper.js-hero-slider 
      button.hero__next-btn.js-hero-slider-next.slider-btn.slider-btn--next
        +svgSprite(24, 24, 'arrow')
      .swiper-wrapper 
        .hero__item.swiper-slide 
          .hero__item-info
            h1.hero__item-title.h1 Профессиональное лечение кариеса в Челябинске <span>от 6000&nbsp;₽</span>
            .hero__item-desc Позаботьтесь о своем здоровье заранее – лечение зубов в стоматологии «Новая стоматология»
            .hero__item-action  
              button.hero__item-btn.btn.btn--l Записаться
              a.hero__item-btn.btn.btn--l.btn--white(href="#") Узнать больше
          .hero__item-img 
            img(src="images/hero/hero.png", alt="")
          .hero__item-details 
            .hero__item-detail 
              img(src="images/hero/hero-adv-01.svg", alt="")
              span Лечим до 95% известных заболеваний зубов и ротовой полости
            .hero__item-detail 
              img(src="images/hero/hero-adv-02.svg", alt="")
              span Большинство пациентов приходят к нам на приём по рекомендациям 
            .hero__item-detail 
              img(src="images/hero/hero-adv-03.svg", alt="")
              span «Новая стоматология» лидер независимых экспертных рейтингов
            .hero__item-detail 
              img(src="images/hero/hero-adv-04.svg", alt="")
              span Наши врачи – совладельцы клиник, лично гарантируют качество лечения
        .hero__item.swiper-slide 
          .hero__item-info
            h1.hero__item-title.h1 Профессиональное лечение кариеса в Челябинске <span>от 6000&nbsp;₽</span>
            .hero__item-desc Позаботьтесь о своем здоровье заранее – лечение зубов в стоматологии «Новая стоматология»
            .hero__item-action  
              button.hero__item-btn.btn.btn--l Записаться
              a.hero__item-btn.btn.btn--l.btn--white(href="#") Узнать больше
          .hero__item-img 
            img(src="images/hero/hero.png", alt="")
          .hero__item-details 
            .hero__item-detail 
              img(src="images/hero/hero-adv-01.svg", alt="")
              span Лечим до 95% известных заболеваний зубов и ротовой полости
            .hero__item-detail 
              img(src="images/hero/hero-adv-02.svg", alt="")
              span Большинство пациентов приходят к нам на приём по рекомендациям 
            .hero__item-detail 
              img(src="images/hero/hero-adv-03.svg", alt="")
              span «Новая стоматология» лидер независимых экспертных рейтингов
            .hero__item-detail 
              img(src="images/hero/hero-adv-04.svg", alt="")
              span Наши врачи – совладельцы клиник, лично гарантируют качество лечения
