.s-about
  .container 
    .s-about__wrapper
      .s-about__info 
        h2.s-about__title.h2 Лечение в Новой стоматологии
        .s-about__desc(data-text)
          .s-about__text  
            | Мы рады встрече с вами на официальном сайте сети стоматологий 
            | «ПрезиДЕНТ» в Москве. Уже более 25 лет мы ежедневно доказываем 
            | своей работой, что качественная стоматологическая помощь должна 
            | быть профессиональной, быстрой и доступной. Сегодня эстетическая 
            | стоматология - это безопасно и безболезненно. <br><br>
            | Наш <span>комплекс</span> отличается особым отношением к своим пациентам. Прекрасное 
            | современное инновационное оснащение, уникальные передовые технологии, грамотные 
            | специалисты и уютная обстановка позволили нам завоевать признание и любовь наших 
            | пациентов. Мы, в первую очередь, заботимся о вашем здоровье. Стоматология 
            | для нас - это не только работа, но и призвание. <br><br>
            | Мы успешно осуществляем операции по <span>имплантации зубов</span> с последующим 
            | протезированием. Также в наших клиниках вы можете воспользоваться следующими видами стоматологической помощи:
          button.s-about__read.reset-btn(data-show="text") Читать больше
        a.s-about__more.btn.btn--outline(href="#") Подробнее о клинике