-
  var teamList = [
    {
      id: 1,
      name: 'Трубецкая Анна Александровна',
      post: 'Врач-стоматолог-терапевт, пародонтолог'
    },
    {
      id: 2,
      name: 'Трубецкая Анна Александровна',
      post: 'Врач-стоматолог-терапевт, пародонтолог'
    },
    {
      id: 3,
      name: 'Трубецкая Анна Александровна',
      post: 'Врач-стоматолог-терапевт, пародонтолог'
    },
    {
      id: 4,
      name: 'Трубецкая Анна Александровна',
      post: 'Врач-стоматолог-терапевт, пародонтолог'
    },
    {
      id: 5,
      name: 'Трубецкая Анна Александровна',
      post: 'Врач-стоматолог-терапевт, пародонтолог'
    },
    {
      id: 6,
      name: 'Трубецкая Анна Александровна',
      post: 'Врач-стоматолог-терапевт, пародонтолог'
    },
    {
      id: 7,
      name: 'Трубецкая Анна Александровна',
      post: 'Врач-стоматолог-терапевт, пародонтолог'
    },
    {
      id: 8,
      name: 'Трубецкая Анна Александровна',
      post: 'Врач-стоматолог-терапевт, пародонтолог'
    },
  ]

section.s-team.section 
  .container 
    .section__head
      h2.s-team__title.h2 Наши врачи
    .team-list 
      for item in teamList
        .team-item 
          a(href="#").team-item__img 
            img(src=`images/team/team-0${item.id}.jpg`, alt="")
          a(href="#").team-item__name.link= item.name
          .team-item__type= item.post 
    a(href="#").s-team__all.btn.btn--outline Все врачи (+11)